h1{text-align: center; color: rgb(92, 166, 235);
}
 body{
    background-image: url(https://avatars.mds.yandex.net/i?id=53807385c7999b393657999f99a0a465de2c8abd-5236410-images-thumbs&n=13)

 }  
    

a{
    color: rgb(108, 151, 216);
} 
h3{text-align: center; color: rgb(92, 166, 235);}